# Ignore dependencies
node_modules

# Ignore production
.next

# Ignore artifacts:
build
coverage

# Ignore config files
.eslintrc.json
.prettierrc.json
next-env.d.ts
next.config.js
package-lock.json
package.json
tsconfig.json

README.md